<VirtualHost *:80>
	ServerName {{ ansible_fqdn }}
	ServerAlias www.{{ ansible_fqdn }}

	ServerAdmin webmaster@{{ ansible_fqdn }}
	DocumentRoot {{ web_docroot }}

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
