<VirtualHost *:80>
	ServerName {{ jupyter_domain }}
	ServerAdmin webmaster@{{ ansible_fqdn }}

	ErrorLog ${APACHE_LOG_DIR}/error-{{ jupyter_subdomain }}.log
	CustomLog ${APACHE_LOG_DIR}/access-{{ jupyter_subdomain }}.log combined

{% if certbot == "no" %}
RewriteEngine on
RewriteCond %{SERVER_NAME} ={{ jupyter_domain }}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
{% endif %}
</VirtualHost>
